#mainDev{
    max-height: 30rem;
    /* padding-top: 0rem;
    padding-bottom: 0rem; */
    margin-top: 0%;
    /* margin-bottom: 0%; */
}

#notificationTable{
    /* height: 200px;  */
    width: 15rem;
    margin-top: 0rem;
    padding-top: 0rem;
    /* height: 10rem; */
}